.fixed-header,
.fixed-footer {
    width: 100%;
    position: fixed;
    color: #fff;
    margin: 0 auto;
}
.fixed-header {
    top: 0;
    background: #d30000;
    border-radius: 0.2rem;
}
.fixed-footer {
    bottom: 0;
    background: green;
    border-radius: 0.2rem;
}

.fixed-header img {
    float:left;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1vh 1vw;
    display: inline-block;
    background: #a51818;
    border-radius: 1rem;
}
nav img {
    padding: 0;
    float: left;
}